body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f1f1f1;
}

.login-box {
  width: 300px;
  padding: 40px;
  position: relative;
  background: #fff;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.login-box h2 {
  margin: 0 0 20px;
  padding: 0;
  color: #333;
}

.login-box .user-box {
  position: relative;
  margin-bottom: 30px;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #333;
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid #333;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #333;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  font-size: 12px;
  color: #03a9f4;
}

.login-box button {
  border: none;
  outline: none;
  width: 100%;
  padding: 10px 0;
  margin: 20px 0;
  background: rgb(1, 235, 1);
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.login-box button:hover {
  background: #2196f3;
}

.error-message {
  color: red;
  margin-top: 10px;
}
